<h2>
  {{ 'frequency-analysis' | translate }}
</h2>

<h3>{{title}}</h3>

<div *ngIf="hasSecondDataset" #containerRef class="chart-wrapper">
  <ngx-charts-bar-horizontal-2d [groupPadding]="4" [barPadding]="2"
    [view]="[containerRef.offsetWidth, containerRef.offsetWidth*0.6]" [scheme]="colorScheme" [results]="results"
    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-horizontal-2d>
</div>

<div *ngIf="!hasSecondDataset" #containerRef class="chart-wrapper">
  <ngx-charts-bar-vertical [barPadding]="8" [view]="[containerRef.offsetWidth, containerRef.offsetWidth*0.4]"
    [scheme]="colorScheme" [results]="results" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
    [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-vertical>
</div>


<h3 *ngIf="hasSecondDataset && !!decryptionSuggestion">
  {{ 'frequency-analysis.decryption-suggestion' | translate }}
</h3>
<div *ngIf="hasSecondDataset && !!decryptionSuggestion">
  <pre>{{decryptionSuggestion}}</pre>
</div>