<h1>
  {{ 'encodings.encodings' | translate }}
</h1>


<mat-divider class="mb-2"></mat-divider>

<!-- -------------------------------------------- -->

<h2>
  {{ 'encodings.string-to-base64' | translate }}
</h2>
<app-string-to-base64></app-string-to-base64>



<mat-divider class="mb-2"></mat-divider>

<!-- -------------------------------------------- -->

<h2>
  {{ 'encodings.base64-to-string' | translate }}
</h2>
<app-base64-to-string></app-base64-to-string>

<!-- -------------------------------------------- -->
<h2>
  {{ 'encodings.prime-factors' | translate }}
</h2>

<app-prime-factors></app-prime-factors>

<!-- -------------------------------------------- -->


<h2>
  {{ 'encodings.all-factors' | translate }}
</h2>

<app-factors></app-factors>

<!-- -------------------------------------------- -->

<h2>
  {{ 'encodings.first-1k-prime-numbers' | translate }}
</h2>

<app-prime-numbers></app-prime-numbers>

<!-- -------------------------------------------- -->

<h2>
  {{ 'encodings.10k-prime-numbers' | translate }}
</h2>

<app-prime-numbers-10-k></app-prime-numbers-10-k>

<!-- -------------------------------------------- -->