<h1>
  {{ 'common.digital-signature' | translate }} ГОСТ 34.10.-2012
</h1>


<mat-divider class="mb-2"></mat-divider>
<!-- -------------------------------------------- -->


<form [formGroup]="form">



  <!-- -------------------------------------------- -->


  <div class="flex mb-1">
    <div class="p-2 flex-grow-1 col">

      <mat-form-field class="w100">
        <mat-label>{{ 'common.prime-number' | translate }} p </mat-label>
        <input matInput formControlName="p" type="number">
        @if (form.get('p')?.hasError('prime')) {
        <mat-error>{{form.get('p')?.errors?.['prime'].value}}</mat-error>
        }
      </mat-form-field>

    </div>
    <div class="p-2 flex-grow-1 col">
      <div class="w100">
        &nbsp;
      </div>
    </div>
  </div>

  <!-- -------------------------------------------- -->

  <div class="flex mb-1">

    <div class="p-2 flex-grow-1 col">
      <mat-form-field class="w100">
        <mat-label>{{ 'common.random-number' | translate }} a</mat-label>
        <input matInput formControlName="a" type="number">
        <!-- @if (form.get('g')?.hasError('factor')) {
          <mat-error>{{form.get('g')?.errors?.['factor'].value}}</mat-error>
        } -->
        <!-- @if (gHint) {
          <mat-hint>{{gHint}}</mat-hint>
        } -->
      </mat-form-field>
    </div>

    <div class="p-2 flex-grow-1 col">
      <mat-form-field class="w100">
        <mat-label>{{ 'common.random-number' | translate }} b</mat-label>
        <input matInput formControlName="b" type="number">
      </mat-form-field>
    </div>

  </div>

  <!-- -------------------------------------------- -->

  <div class="flex mb-1">
    <div class="p-2 flex-grow-1 min35 col">

      <div class="box-outlined">
        <pre>m = {{m}}</pre>
      </div>

    </div>
    <div class="p-2 flex-grow-1 col">

      <div class="box-outlined">
        <pre>q = {{q}}</pre>
      </div>

    </div>
  </div>

  <!-- -------------------------------------------- -->

  <div class="flex mb-1">
    <div class="p-2 flex-grow-1 min35 col">

      <mat-form-field class="w100">
        <mat-label>
          {{ 'digital-signature.message' | translate }}
        </mat-label>
        <textarea formControlName="message" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

    </div>

    <div class="p-2 flex-grow-1 col">

      <div class="box-outlined">
        <pre>{{signature}}</pre>
      </div>

    </div>
  </div>


  <!-- -------------------------------------------- -->

  <div class="flex mb-1">
    <div class="p-2 flex-grow-1 min35 col">

      <mat-slide-toggle formControlName="logAddingPoints">
        {{ 'digital-signature.log-adding-points' | translate }}
      </mat-slide-toggle>

    </div>

    <div class="p-2 flex-grow-1 col">

    </div>
  </div>


  <!-- -------------------------------------------- -->


  <div class="flex mb-5">
    <div class="p-2 flex-grow-1 col">

      <button (click)="sign()" mat-flat-button>
        {{ 'digital-signature.sign' | translate }}
      </button>

    </div>
    <div class="p-2 flex-grow-1 col">

      <button (click)="generateParams()" mat-flat-button>
        {{ 'digital-signature.generate-params' | translate }}
      </button>

    </div>
  </div>


  <!-- -------------------------------------------- -->


  <div class="flex mb-1">
    <div class="p-2 flex-grow-1 min35 col">

      <mat-form-field class="w100">
        <mat-label>
          {{ 'digital-signature.signature-to-verify' | translate }}
        </mat-label>
        <textarea matInput formControlName="signature" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>


    </div>
    <div class="p-2 flex-grow-1 col">

      <div class="box-outlined">
        <pre>{{ signatureVerified }}</pre>
      </div>

    </div>
  </div>


  <!-- -------------------------------------------- -->


  <div class="flex mb-5">
    <div class="p-2 flex-grow-1 col">
      <button (click)="verify()" mat-flat-button>
        {{ 'digital-signature.verify' | translate }}
      </button>
    </div>
    <div class="p-2 flex-grow-1 col">

    </div>
  </div>

  <!-- -------------------------------------------- -->



</form>



<!-- -------------------------------------------- -->



<mat-divider *ngIf="hasLogs" class="mb-2"></mat-divider>
<app-execution-log [logs]="logs"></app-execution-log>