<h1>{{ 'home.practical-assignment' | translate}} #7 {{ 'common.public-key-cryptography' | translate }}</h1>

<div>
  <p>{{ 'home.resulting-npm-package' | translate}}:</p>
  <a href="https://www.npmjs.com/package/@sr9yar/public-key-cryptography" title="npm">
    https://www.npmjs.com/package/&#64;sr9yar/public-key-cryptography
  </a>
  <br>
  <br>
</div>


<div class="box-outlined">
  <pre>npm i &#64;sr9yar/public-key-cryptography --save</pre>
</div>


<div>
  <h2>{{ 'pkc.rsa' | translate}} </h2>
  <a href="/rsa" routerLink="/rsa">
    {{ 'pkc.rsa' | translate}}
  </a>
  <br>
  <br>
</div>

<div>
  <h2>{{ 'pkc.rabin' | translate}}</h2>
  <a href="/rabin" routerLink="/rabin">
    {{ 'pkc.rabin' | translate}}
  </a>
  <br>
  <br>
</div>

<div>
  <h2>{{ 'pkc.elgamal' | translate}}</h2>
  <a href="/elgamal" routerLink="/elgamal">
    {{ 'pkc.elgamal' | translate}}
  </a>

  <br>
  <br>
</div>