<h1>{{ 'home.practical-assignment' | translate}} #1 </h1>

<div>
  <p>{{ 'home.resulting-npm-package' | translate}}:</p>
  <a href="https://www.npmjs.com/package/simple-substitution-ciphers" title="npm">
    https://www.npmjs.com/package/simple-substitution-ciphers</a>
  <br>
  <br>
</div>

<mat-card appearance="outlined">
  <mat-card-content>
    <pre>npm i simple-substitution-ciphers --save</pre>
  </mat-card-content>
</mat-card>

<div>
  <br>
  <p>{{ 'home.source-code' | translate}}:</p>
  <a href="https://github.com/sr9yar/simple-substitution-ciphers" title="github">
    https://github.com/sr9yar/simple-substitution-ciphers</a>
  <br>
  <br>
</div>