<h1>
  {{ 'caesar-cipher' | translate }}
</h1>


<!-- <div class="flex mb-2">
  <div class="p-1"> Plaintext </div>
  <div class="bold p-1"> {{ plaintextString }} </div>
</div>

<div class="flex mb-2">
  <div class="p-1"> Ciphertext </div>
  <div class="bold p-1"> {{ ciphertextString }} </div>
</div> -->

<mat-divider class="mb-2"></mat-divider>



<!-- 
<div class="flex mb-2">
  <div class="p-2 flex-grow-1">

  </div>
  <div class="p-2 flex-grow-1">

  </div>
</div> 
-->



<!-- -------------------------------------------- -->


<form [formGroup]="form">

  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">

      <button (click)="encrypt()" mat-flat-button>
        {{ 'common.encrypt' | translate }}
      </button>

    </div>
    <div class="p-2 flex-grow-1">

    </div>
  </div>

  <!-- -------------------------------------------- -->

  <div class="flex mb-2">
    <div class="p-2 flex-grow-1 min35">

      <mat-form-field class="w100">
        <mat-label>
          {{ 'common.plaintext' | translate }}
        </mat-label>
        <textarea formControlName="plaintext" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="30"></textarea>
      </mat-form-field>

    </div>
    <div class="p-2 flex-grow-1">

      <div class="box-outlined">
        <pre>{{encrypted}}</pre>
      </div>

    </div>
  </div>

  <!-- -------------------------------------------- -->

  <div class="flex mb-2">
    <div class="p-2 flex-grow-1 ">
      <button (click)="decrypt()" mat-flat-button>
        {{ 'common.decrypt' | translate }}
      </button>

    </div>
    <div class="p-2 flex-grow-1">

    </div>
  </div>

  <!-- -------------------------------------------- -->

  <div class="flex mb-2">
    <div class="p-2 flex-grow-1 min35">



      <mat-form-field class="w100">
        <mat-label>
          {{ 'common.ciphertext' | translate }}
        </mat-label>
        <textarea matInput formControlName="ciphertext" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="30"></textarea>
      </mat-form-field>
    </div>

    <div class="p-2 flex-grow-1">

      <div class="box-outlined">
        <pre>{{decrypted}}</pre>
      </div>

    </div>
  </div>

  <!-- -------------------------------------------- -->

  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">

      <mat-label>
        {{ 'common.shift' | translate }} ({{form.get('shift')?.value}}):
      </mat-label>

      <mat-slider class="w100" [min]="shiftMin" [max]="shiftMax" step="1">
        <input formControlName="shift" matSliderThumb value="-3">
      </mat-slider>

    </div>

  </div>

  <!-- -------------------------------------------- -->

  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">

      <mat-form-field class="w100">
        <mat-label>{{ 'common.alphabet' | translate }} ({{form.get('alphabet')?.value.length}})</mat-label>
        <textarea formControlName="alphabet" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

    </div>

  </div>

  <!-- -------------------------------------------- -->

</form>



<mat-divider *ngIf="hasLogs" class="mb-2"></mat-divider>
<app-execution-log [logs]="logs"></app-execution-log>

<mat-divider class="mb-2"></mat-divider>
<app-frequency-analysis [alphabetLanguage]="alphabetLanguage"></app-frequency-analysis>

<app-frequency-analysis [encryptedText]="ciphertextString" [sort]="'asc'"
  [alphabetLanguage]="alphabetLanguage"></app-frequency-analysis>