<h1>{{ 'home.practical-assignment' | translate}} #2 {{ 'common.symmetric-ciphers' | translate }}</h1>

<div>
  <p>{{ 'home.resulting-npm-package' | translate}}:</p>
  <a href="https://www.npmjs.com/package/simple-substitution-ciphers" title="npm">
    https://www.npmjs.com/package/&#64;sr9yar/simple-substitution-ciphers</a>
  <br>
  <br>
</div>


<div class="box-outlined">
  <pre>npm i &#64;sr9yar/simple-substitution-ciphers --save</pre>
</div>


<div>
  <br>
  <p>{{ 'home.source-code' | translate}}:</p>
  <a href="https://github.com/sr9yar/simple-substitution-ciphers" title="github">
    https://github.com/sr9yar/simple-substitution-ciphers</a>
  <br>
  <br>
</div>