<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['test-data']">
      Test Data
    </button>
    <button mat-menu-item [routerLink]="['caesar']">
      Caesar
    </button>
    <button mat-menu-item [routerLink]="['affine']">
      Affine
    </button>
    <button mat-menu-item [routerLink]="['affine-recurrent']">
      Affine Recurrent
    </button>
  </mat-menu>


  <span>Simple Substitution Ciphers</span>
  <span class="spacer"></span>
  <button mat-button [routerLink]="['test-data']">
    Test Data
  </button>
  <button mat-button [routerLink]="['caesar']">
    Caesar
  </button>
  <button mat-button [routerLink]="['affine']">
    Affine
  </button>
  <button mat-button [routerLink]="['affine-recurrent']">
    Affine Recurrent
  </button>
</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>