<mat-toolbar>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['test-data']">
      {{ 'common.test-data' | translate }}
    </button>
    <button mat-menu-item [routerLink]="['caesar']">
      {{ 'common.caesar' | translate }}
    </button>
    <button mat-menu-item [routerLink]="['affine']">
      {{ 'common.affine' | translate }}
    </button>
    <button mat-menu-item [routerLink]="['affine-recurrent']">
      {{ 'common.affine-recurrent' | translate }}
    </button>
  </mat-menu>

  <span>
    <img (click)="switchLanguage('en-GB')" class="flag-icon" src="/assets/flags/en-GB.png" alt="flag" />
    <img (click)="switchLanguage('ru-RU')" class="flag-icon" src="/assets/flags/ru-RU.png" alt="flag" />
  </span>

  <span class="pl-2 pr-2">
    {{ 'common.simple-substitution-ciphers' | translate }}
  </span>
  <span class="spacer"></span>

  <button mat-button [routerLink]="['test-data']">
    <span class="text-overflow-wrap">
      {{ 'common.test-data' | translate }}
    </span>
  </button>
  <button mat-button [routerLink]="['caesar']">
    <span class="text-overflow-wrap">
      {{ 'common.caesar' | translate }}
    </span>
  </button>
  <button mat-button [routerLink]="['affine']">
    <span class="text-overflow-wrap">
      {{ 'common.affine' | translate }}
    </span>
  </button>
  <button mat-button [routerLink]="['affine-recurrent']">
    <span class="text-overflow-wrap">
      {{ 'common.affine-recurrent' | translate }}
    </span>
  </button>

</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>