<mat-toolbar>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">

    <button mat-menu-item [matMenuTriggerFor]="algebraic" routerLink="/ec">
      {{ 'as.algebraic-structures' | translate }}
    </button>

    <button mat-menu-item [matMenuTriggerFor]="ssc" routerLink="/assignment-1">
      {{ 'common.simple-substitution-ciphers' | translate }}
    </button>
    <button mat-menu-item [matMenuTriggerFor]="pkc" routerLink="/assignment-2">
      {{ 'pkc.pkc' | translate }}
    </button>
    <button mat-menu-item [routerLink]="['digital-signature']">
      {{ 'common.digital-signature' | translate }}
    </button>


    <button mat-menu-item [routerLink]="['encodings']">
      {{ 'encodings.encodings' | translate }}
    </button>
    <button mat-menu-item [routerLink]="['fermat']">
      {{ 'common.fermat-primality-test' | translate }}
    </button>
  </mat-menu>


  <mat-menu #ssc="matMenu">
    <button mat-menu-item [routerLink]="['test-data']">
      {{ 'common.test-data' | translate }}
    </button>
    <button mat-menu-item [routerLink]="['caesar']">
      {{ 'common.caesar' | translate }}
    </button>
    <button mat-menu-item [routerLink]="['affine']">
      {{ 'common.affine' | translate }}
    </button>
    <button mat-menu-item [routerLink]="['affine-recurrent']">
      {{ 'common.affine-recurrent' | translate }}
    </button>
  </mat-menu>

  <mat-menu #pkc="matMenu">
    <button mat-menu-item routerLink="/rsa">
      {{ 'pkc.rsa' | translate }}
    </button>
    <button mat-menu-item routerLink="/rabin">
      {{ 'pkc.rabin' | translate }}
    </button>
    <button mat-menu-item routerLink="/elgamal">
      {{ 'pkc.elgamal' | translate}}
    </button>
  </mat-menu>

  <mat-menu #algebraic="matMenu">
    <button mat-menu-item routerLink="/rcr">
      {{ 'as.rcr' | translate }}
    </button>
    <button mat-menu-item routerLink="/gf">
      {{ 'as.gf' | translate }}
    </button>
    <button mat-menu-item routerLink="/ec">
      {{ 'as.ec' | translate}}
    </button>
  </mat-menu>

  <span>
    <img (click)="switchLanguage('en-GB')" class="flag-icon" src="/assets/flags/en-GB.png" alt="flag" />
    <img (click)="switchLanguage('ru-RU')" class="flag-icon" src="/assets/flags/ru-RU.png" alt="flag" />
  </span>

  <span class="pl-2 pr-2">
    {{ 'common.simple-substitution-ciphers' | translate }}
  </span>
  <span class="spacer"></span>

  <button mat-button class="button-ellipsis" [routerLink]="['test-data']">
    {{ 'common.test-data' | translate }}
  </button>
  <button class="button-ellipsis" mat-button [routerLink]="['caesar']">
    {{ 'common.caesar' | translate }}
  </button>
  <button class="button-ellipsis" mat-button [routerLink]="['affine']">
    {{ 'common.affine' | translate }}
  </button>
  <button class="button-ellipsis" mat-button [routerLink]="['affine-recurrent']">
    {{ 'common.affine-recurrent' | translate }}
  </button>

</mat-toolbar>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>