<h1>{{ 'common.test-data' | translate}}</h1>



<h2>{{ 'test-data.freq-based-for-caesar' | translate}}</h2>
<pre>{{testData.CAESAR_DECRYPT_TEST}}</pre>
<br>
<br>

<h2>{{ 'test-data.freq-based-mismatch-ru' | translate}}</h2>
<pre>{{testData.FREQUENCY_TEST_WITH_MISMATCH_RUSSIAN}}</pre>
<br>
<br>

<h2>{{ 'test-data.freq-based-text-ru' | translate}}</h2>
<pre>{{testData.FREQUENCY_TEST_RUSSIAN}}</pre>
<br>
<br>


<h2>{{ 'test-data.random-1500' | translate}}</h2>
<pre>{{testData.RANDOM_TEXT}}</pre>
<br>
<br>

<h2>{{ 'test-data.natural-freq-match-en' | translate}}</h2>
<pre>{{testData.ALPHABET_FREQUENCY_MATCH_ENGLISH}}</pre>
<br>
<br>

<h2>{{ 'test-data.natural-freq-match-ru' | translate}}</h2>
<pre>{{testData.ALPHABET_FREQUENCY_MATCH_RUSSIAN}}</pre>
<br>
<br>



<h2>{{ 'test-data.freq-map-en' | translate}}</h2>
<pre>{{`

о 4.8807%
е 4.7328%
а 4.5849%
и 4.437%
н 4.2891%
т 4.1412%
с 3.9933%
р 3.8454%
в 3.6975000000000002%
л 3.5496%
к 3.4017%
м 3.2538%
д 3.1059%
п 2.958%
у 2.8101000000000003%
я 2.6622%
ы 2.5143%
ь 2.3664%
г 2.2185%
з 2.0706%
б 1.9227%
ч 1.7748%
й 1.6269%
х 1.479%
ж 1.3311%
ш 1.1832%
ю 1.0353%
ц 0.8874%
щ 0.7395%
э 0.5916%
ф 0.4437%
ъ 0.2958%
ё 0.1479%
`}}</pre>
<br>
<br>



<h2>{{ 'test-data.freq-map-ru' | translate}}</h2>
<pre>{{`

e 3.8454%
t 3.6975000000000002%
a 3.5496%
o 3.4017%
i 3.2538%
n 3.1059%
s 2.958%
h 2.8101000000000003%
r 2.6622%
d 2.5143%
l 2.3664%
c 2.2185%
u 2.0706%
m 1.9227%
w 1.7748%
f 1.6269%
g 1.479%
y 1.3311%
p 1.1832%
b 1.0353%
v 0.8874%
k 0.7395%
j 0.5916%
x 0.4437%
q 0.2958%
z 0.1479%

`}}</pre>
<br>
<br>




<h2>{{ 'test-data.russian-alphabet' | translate}}</h2>
<pre>{{testData.ALPHABET_RUSSIAN}}</pre>
<br>
<br>


<h2>{{ 'test-data.english-alphabet' | translate}}</h2>
<pre>{{testData.ALPHABET_ENGLISH}}</pre>
<br>
<br>