<h1>Affine cipher</h1>

<!-- 
<div class="flex">
  <div class="p-1"> Plaintext </div>
  <div class="bold p-1"> {{ plaintextString }} </div>
</div>

<div class="flex">
  <div class="p-1"> Ciphertext </div>
  <div class="bold p-1"> {{ ciphertextString }} </div>
</div> -->
<mat-divider class="mb-2"></mat-divider>

<!-- 
<div class="flex mb-2">
  <div class="p-2 flex-grow-1">

  </div>
  <div class="p-2 flex-grow-1">

  </div>
</div> 
 
-->

<!-- -------------------------------------------- -->


<form [formGroup]="form">

  <!-- -------------------------------------------- -->


  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">

      <button (click)="encrypt()" mat-flat-button>Encrypt</button>

    </div>
    <div class="p-2 flex-grow-1">

    </div>
  </div>

  <!-- -------------------------------------------- -->


  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">

      <mat-form-field class="w100">
        <mat-label>Plaintext</mat-label>
        <textarea formControlName="plaintext" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

    </div>
    <div class="p-2 flex-grow-1">

      <div class="box-outlined">
        <pre>{{encrypted}}</pre>
      </div>

    </div>
  </div>


  <!-- -------------------------------------------- -->

  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">
      <button (click)="decrypt()" mat-flat-button>Decrypt</button>

    </div>
    <div class="p-2 flex-grow-1">

    </div>
  </div>

  <!-- -------------------------------------------- -->


  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">

      <mat-form-field class="w100">
        <mat-label>ciphertext</mat-label>
        <textarea matInput formControlName="ciphertext" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

    </div>
    <div class="p-2 flex-grow-1">

      <div class="box-outlined">
        <pre>{{decrypted}}</pre>
      </div>


    </div>
  </div>


  <!-- -------------------------------------------- -->

  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">

      <mat-form-field class="w100">
        <mat-label>Key α</mat-label>
        <input matInput formControlName="keyA" type="number">
        @if (form.get('keyA')?.hasError('coprime')) {
        <mat-error>{{form.get('keyA')?.errors?.['coprime'].value}}</mat-error>
        }
      </mat-form-field>

    </div>
    <div class="p-2 flex-grow-1">

      <mat-form-field class="w100">
        <mat-label>Key β</mat-label>
        <input matInput formControlName="keyB" type="number">
      </mat-form-field>

    </div>
  </div>


  <!-- -------------------------------------------- -->
  <div class="flex mb-2">
    <div class="p-2 flex-grow-1">

      <mat-form-field class="w100">
        <mat-label>Alphabet ({{form.get('alphabet')?.value.length}})</mat-label>
        <textarea formControlName="alphabet" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>

    </div>

  </div>


  <!-- -------------------------------------------- -->



</form>



<mat-divider *ngIf="hasLogs" class="mb-2"></mat-divider>
<app-execution-log [logs]="logs"></app-execution-log>

<mat-divider class="mb-2"></mat-divider>
<app-frequency-analysis [alphabetLanguage]="'ru'"></app-frequency-analysis>

<app-frequency-analysis [encryptedText]="ciphertextString" [sort]="'asc'"
  [alphabetLanguage]="'ru'"></app-frequency-analysis>